h3{
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
}
h1{
    font-family: 'Cormorant Garamond', serif;
}
h2
{
    font-family: 'Amatic SC', cursive;
}

p.s
{
    font-family: 'Caveat', cursive;
  
}
